* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: gold;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    padding: 0;
    margin: 0 0 15px;
  }

  header{
      background-color: cornsilk;
    padding: 20px;
    margin-bottom: 15px;
  }

  button {
    float: left;
    padding: 3px;
  }

  .images{
      display:flex;
      justify-content: center;
      padding-bottom: 100px;
      border-radius: 5%;
      margin: auto;
  }

  .squares {
    padding: 0 3px 3px;
    align-items: right;
  }
  
  .squares div {
    background-color: blue;
    display: table;
    width:  2vh;
    height: 2vh;
    padding: 5;
    margin-right : 5px;
    float: right
  }
  .label {
    float: right;
  }
.progressbar{
    display:block;
    margin: 0 auto;
}
  .playbutton {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
  button{
      margin:5px;
      background-color: paleturquoise;
      border-radius: 5px;
  }
  label{
    display:flex;
    justify-content: center;
  }
  

  